*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #040042, #001851fa, #14006b, #00193d);
    background-size: 10000% 10000%;
    animation: gradient 15s ease infinite;
}

a{
    text-decoration: none;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.sliderText{
    float: left;
    width: 50%;
    text-align: center;
    font-size: 25px;
    color: rgb(91, 153, 153);
    margin-top: 70px;
}
.sliderImage{
    float:left;
    width: 50%;
    text-align: center;
}
.title{
  background: -webkit-linear-gradient(left,rgb(236, 28, 101), rgb(22, 53, 210));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0px 50px 0px;
}
.floatLeft{
    float:left;
}
.squiverlogo{
    padding: 10px;
    padding-left: 20px;
}
.navbar{
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 200;
}
button {
    
    width: 80px;
    height: 40px;
    transition: 0.25s;
    border-radius: 4px;
    
    margin: 26px 10px 10px 10px;
    font-size: 16px;
    cursor: pointer;
}
.leftLine {
    color: #fd1e22;
    background: none;
    border: none;
    position: relative;
}
.leftLine::before {
    content: "";
    background: #fd1e22;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
.leftLine:hover::before {
    width: 100%;
}
.fillup {
    border: 2px solid #fd1e22;
    background: none;
    color: #fd1e22;
    width: 200px;
    height: 50px;
}
.fillup:hover,
.fillup:focus {
    box-shadow: inset 0 -50px 0 0 #fd1e22;
    color: white;
}
.whoandwhat{
    font-size: 22px;
    width: 68%;
    margin: 240px 10px 0px 5px;
}
.paragraph{
    color: rgb(0, 147, 147);
}
.answer{
    font-size: 25px;
    color:rgb(26, 116, 128)
}
.girlimg{
    width: 30%;
    float: right;
}
.howehelp > .title{
    width: 100%;
    margin: 290px 0px 60px 0px;
}
.divboxcontainer{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.keyobjcontainer{
    background-color: rgb(255, 233, 252);
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 7px 7px 7px 7px;
}
.discription{
    text-align: center;
}
.keyobj{
    display: flex;
    flex-basis: calc(33.33% - 20px);
    float: left;
    padding: 20px;
    color: rgb(0, 147, 147);
}
.breakline{
    border-radius: 2px 2px 2px 2px;
    margin-right: 10px;
    height: inherit;
    width: .5%;
    background: -webkit-linear-gradient(left,rgb(236, 28, 101), rgb(22, 53, 210));
}
