.whoandwhat{
    font-size: 22px;
    margin: 240px 10px 0px 5px;
}
.paragraph{
    color: rgb(0, 147, 147);
}
.answer{
    font-size: 22px;
    color:rgb(26, 116, 128)
}
.girlimg{
    float: right;
}

