.gridcontainer{
    padding: 18px;
    padding-top: 90px;
}
.leftpanel>h1{
    font-size: 4vw;
    text-align: left;
}
.rightitem{
    padding: 3rem;
}
.leftheading{
    width: 40%;
    float: left;
    color: white;
}
.rightpara{
    width: 60%;
    padding: left 0.5rem;
    float: right;
}
