.whychoose{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
}
.leftpanel{
    flex:50%;
    margin-top: 60px;
}
.leftpanel>h1{
    font-size: 46px;
    text-align: left;
}
.rightpanel{
    flex:50%;
    width: 100%;
}
.rightitem{
    padding: 50px;
}
.leftheading{
    width: 40%;
    float: left;
    font-size: 20px;
    color: white;
}
.rightpara{
    width: 60%;
    padding-left:10px ;
    float: right;
}
